//text colors
$primaryTextColor: #000000;
$secondaryTextColor: #db4444;
$grayTextColor: #7a7a7a;
$whiteTextColor: #ffffff;
$greenTextColor: #00ff66;
$footerTextColor: #fafafa;

//fonts
$primaryFontFamily: "Poppins", sans-serif;
$secondaryFontFamily: "Inter", sans-serif;
$primaryFontSize: 16px;
$secondaryFontSize: 18px;

//colors
$primaryColor: #000000;
$secondaryColor: #db4444;
$grayColor: #7a7a7a;
$whiteColor: #ffffff;
$greenColor: #00ff66;
$lightGrayColor: #fafafa;
$borderInputColor: #999999;
$inputBgColor: #f5f5f5;
