//text colors
$primaryTextColor: #000000;
$secondaryTextColor: #db4444;
$grayTextColor: #7a7a7a;
$whiteTextColor: #ffffff;
$greenTextColor: #00FF66;
$footerTextColor: #fafafa;

//fonts
$primaryFontFamily: 'Poppins', sans-serif;
$secondaryFontFamily: 'Inter', sans-serif;
$primaryFontSize: 8px;
$secondaryFontSize: 9px;

//colors
$primaryColor: #000000;
$secondaryColor: #db4444;
$grayColor: #7a7a7a;
$whiteColor: #ffffff;
$greenColor: #00FF66;
$lightGrayColor: #fafafa;
$borderInputColor: #999999;
$inputBgColor: #f5f5f5;





