@import "@/app/styles/variables.scss";

.MenuItemWrapper {
  width: 217px;
  position: relative;
}
.MenuItemWrapper:not(:last-child) {
  margin-bottom: 15px;
  margin-top: 10px;
}
.MenuItemWrapper.hovered {
  background-color: #d9d9d9;
}

.MenuItem {
  font-family: $primaryFontFamily;
  font-size: $primaryFontSize;
  font-weight: 400;
  color: $primaryColor;
  cursor: pointer;
  width: 217px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SubcategoryWrapper {
  background-color: $whiteColor;
  position: absolute;
  top: 0;
  left: 217px;
  width: 175px;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.SubcategoryName {
  font-family: $primaryFontFamily;
  font-size: $primaryFontSize;
  font-weight: 400;
  color: $primaryColor;
  cursor: pointer;
  padding: 5px 5px;
}
.SubcategoryName.hovered {
  background-color: #d9d9d9;
}
.Arrow {
  cursor: pointer;
}
