@import "@/app/styles/variables.scss";

.MenuItemWrapper {
  width: 100%;
  position: relative;
}
.MenuItemWrapper:not(:last-child) {
  margin-bottom: 15px;
  margin-top: 10px;
}

.MenuItem {
  font-family: $primaryFontFamily;
  font-size: $primaryFontSize;
  font-weight: 400;
  color: $primaryColor;
  cursor: pointer;
  width: 217px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// .SubcategoryWrapper {
//   width: fit-content;
//   background-color: $whiteColor;
//   position: absolute;
//   top: 0;
//   left: 220px;
// }
.SubcategoryWrapper {
  margin-left: 15px;
  margin-top: 10px;
}
.SubcategoryName {
  font-family: $primaryFontFamily;
  font-size: $primaryFontSize;
  font-weight: 400;
  color: $primaryColor;
  cursor: pointer;
}
.Arrow {
  cursor: pointer;
}
