@import "@/app/styles/variables.scss";

.MenuItemWrapper {
  width: 243px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
}

.MenuItemWrapper.hovered {
  background-color: #E9EAEC;
}

.MenuItem {
  font-family: $primaryFontFamily;
  font-size: $primaryFontSize;
  font-weight: 400;
  color: $primaryColor;
  cursor: pointer;
  width: 243px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SubcategoryWrapper {
  background-color: $whiteColor;
  position: absolute;
  top: 0;
  left: 243px;
  width: 175px;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.SubcategoryName {
  font-family: $primaryFontFamily;
  font-size: $primaryFontSize;
  font-weight: 400;
  color: $primaryColor;
  cursor: pointer;
  padding: 8px 5px;
  height: 40px;
}
.SubcategoryName.hovered {
  background-color: #E9EAEC;
}
.Arrow {
  cursor: pointer;
  margin-right: 15px;
}
