@import "@/app/styles/variables.scss";

.Button {
  cursor: pointer;
  padding: 0px 48px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $whiteTextColor;
  font-family: $primaryFontFamily;
  font-size: $primaryFontSize;
  font-weight: 500;
  gap: 8px;
}
.Icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roseBG {
  background-color: $secondaryColor;
}
.greenBG {
  background-color: $greenColor;
}
.blackBG {
  background-color: $primaryColor;
  width: 100%;
  border-radius: 0 0 4px 4px;
}
.noneBG {
  background-color: transparent;
  border: 2px solid $borderInputColor;
  color: $primaryTextColor;
  gap: 16px;
}
.small {
  height: 41px;
}
.medium {
  height: 44px;
}
.large {
  height: 56px;
}
