@import "@/app/styles/variables.scss";

.IconButton {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.IconButton.small {
  width: 20px;
  height: 20px;
}
.IconButton.large {
  width: 32px;
  height: 32px;
}
.Icon {
  width: 100%;
  height: 100%;
}
